<div class="modal form-modal call-modal" data-modal-target="price-list">
	<div class="modal-overlay">
		<div class="modal-content form-modal__content">
			<button class="modal-close form-modal__close">
				<img src="@img/icons/cross.svg" alt="" />
			</button>
			<div class="form-modal__body">
				<div class="form-modal__info form-modal__info--active">
					<h2 class="form-modal__title">Заказать прайс-&#8288;лист</h2>
					<form class="form-modal__form">
						<label class="label">
							<span class="label__text"
								>Ваше имя<span class="highlight">*</span>:</span
							>
							<input class="input" type="text" name="name" placeholder="Имя" />
							<span class="label__error"
								>*Обязательное поле для заполнение</span
							>
						</label>
						<label class="label">
							<span class="label__text"
								>Название организации<span class="highlight">*</span>:</span
							>
							<input
								class="input"
								type="text"
								name="organization"
								placeholder="ООО “Компания”"
							/>
							<span class="label__error"
								>*Обязательное поле для заполнение</span
							>
						</label>
						<label class="label">
							<span class="label__text"
								>Город<span class="highlight">*</span>:</span
							>
							<input
								class="input"
								type="text"
								name="city"
								placeholder="Москва"
							/>
							<span class="label__error"
								>*Обязательное поле для заполнение</span
							>
						</label>
						<label class="label">
							<span class="label__text"
								>Ваш e-mail<span class="highlight">*</span>:</span
							>
							<input
								class="input"
								type="email"
								name="email"
								placeholder="_@_"
							/>
							<span class="label__error"
								>*Обязательное поле для заполнение</span
							>
						</label>
						<label class="label">
							<span class="label__text"
								>Ваш телефон<span class="highlight">*</span>:</span
							>
							<input
								class="input"
								type="tel"
								name="phone"
								placeholder="+7 999 999 99 99"
							/>
							<span class="label__error"
								>*Обязательное поле для заполнение</span
							>
						</label>
						<button class="form-modal__form-button" type="submit">
							Отправить
						</button>
					</form>
					<p class="form-modal__privacy">
						Нажимая кнопку, вы даете согласие на
						<a href="#">обработку персональных данных</a>
					</p>
				</div>
				<div class="form-modal__success">
					<p class="form-modal__success-title">Спасибо.</p>
					<p class="form-modal__success-text">
						Ваша заявка отправлена. <br />
						Отправить
						<button class="form-modal__success-button">новую</button> заявку?
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
