<footer class="footer">
	<div class="container">
		<div class="footer__body">
			<img
				class="footer__logo"
				src="@img/logo-footer.svg"
				loading="lazy"
				alt=""
			/>
			<ul class="footer__list">
				<li><a href="#">О компании</a></li>
				<li><a href="#">Продукция</a></li>
				<li><a href="#">Партнерам</a></li>
				<li><a href="#">Вакансии</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<div class="footer__contacts">
				<a class="footer__phone" href="tel:88007759868">8 (800) 775-98-68</a>
				<button class="button footer__button">
					<span>Заказать звонок</span>
					<span><img src="@img/icons/phone-red.svg" alt="" /></span>
				</button>
			</div>
			<p class="footer__copyright">
				Вкусмая © 2024. <br />
				Все права защищены.
			</p>
		</div>
	</div>
</footer>
