<section class="about" id="section-about">
	<div class="container">
		<p class="subtitle">Специализируемся на выпуске экструзионных продуктов</p>
		<h2 class="title">КОМПАНИЯ ООО «ДИАРИТ»</h2>
		<div class="about__content">
			<div class="about__text">
				<p>
					Наше производство специализируется на выпуске экструзионных продуктов.
					Уже более двадцати пяти лет мы занимаемся производством и оптовой
					продажей хлебцев, кукурузных палочек, хрустящих сладких трубочек,
					подушечек, миндаликов, батончиков, сухих готовых завтраков и многого
					другого под брендом «Вкус мая» по всей стране и за рубеж.
				</p>
				<p>
					Купить продукцию «Вкус мая» можно на прилавках известных торговых
					сетей (Наша продукция продаётся в сетях Пятёрочка, Магнит, FIXPRICE,
					Европа, Линия, и многих других) и в магазинах шаговой доступности.
				</p>
				<p>
					Подробно ознакомиться с нашей продукцией можно в разделе -
					«Продукция».Работать с нами всегда выгодно и надежно. Стать нашим
					партнером Вы можете начав с телефонного звонка по бесплатной горячей
					линии <a href="tel:88007759868">8-800-775-98-68</a> или позвонив по
					телефону <a href="tel:74752731300">+7 (4752) 73-13-00</a>, или
					связавшись с соответствующим сотрудником из раздела «Контакты».
				</p>
				<p>
					Также Вы можете оставить заявку на нашем официальном сайте
					vkusmaya.ru, в разделе "Контакты", или отправив письмо на email:
					<a href="mailto:info@vkusmaya.ru">info@vkusmaya.ru</a>
				</p>
			</div>
			<picture class="about__picture">
				<source srcset="@img/about/about.webp" type="image/webp" />
				<img
					class="about__image"
					src="@img/about/about.png"
					loading="lazy"
					alt="Вкус мая"
				/>
			</picture>
		</div>
	</div>
</section>
