<section
	class="waves-section waves-section--left benefits"
	id="section-benefits"
>
	<div class="container">
		<p class="subtitle">Наша продукция приготовлена с любовью!</p>
		<h2 class="title">Преимущества продукции</h2>
		<ul class="benefits__list list-benefits">
			<li>
				<div class="list-benefits__item">
					<img
						class="list-benefits__item-img"
						src="@img/benefits/benefit-01.svg"
						alt=""
					/>
					<p class="list-benefits__item-text">Натуральный продукт без ГМО</p>
				</div>
			</li>
			<li>
				<div class="list-benefits__item">
					<img
						class="list-benefits__item-img"
						src="@img/benefits/benefit-02.svg"
						alt=""
					/>
					<p class="list-benefits__item-text">
						Продавец - непосредственно производитель данной продукции
					</p>
				</div>
			</li>
			<li>
				<div class="list-benefits__item">
					<img
						class="list-benefits__item-img"
						src="@img/benefits/benefit-03.svg"
						alt=""
					/>
					<p class="list-benefits__item-text">
						Нежный хрустящий корпус, который тает во рту
					</p>
				</div>
			</li>
			<li>
				<div class="list-benefits__item">
					<img
						class="list-benefits__item-img"
						src="@img/benefits/benefit-04.svg"
						alt=""
					/>
					<p class="list-benefits__item-text">
						Идеальны для перекуса - удобный способ подкрепиться
					</p>
				</div>
			</li>
			<li>
				<div class="list-benefits__item">
					<img
						class="list-benefits__item-img"
						src="@img/benefits/benefit-05.svg"
						alt=""
					/>
					<p class="list-benefits__item-text">
						Самые популярные вкусовые сочетания
					</p>
				</div>
			</li>
			<li>
				<div class="list-benefits__item">
					<img
						class="list-benefits__item-img"
						src="@img/benefits/benefit-06.svg"
						alt=""
					/>
					<p class="list-benefits__item-text">
						Изготовлены без применения консервантов и дрожжей
					</p>
				</div>
			</li>
			<li>
				<div class="list-benefits__item">
					<img
						class="list-benefits__item-img"
						src="@img/benefits/benefit-07.svg"
						alt=""
					/>
					<p class="list-benefits__item-text">
						Миндалевидные подушечки имеют эксклюзивную форму
					</p>
				</div>
			</li>
			<li>
				<div class="list-benefits__item">
					<img
						class="list-benefits__item-img"
						src="@img/benefits/benefit-08.svg"
						alt=""
					/>
					<p class="list-benefits__item-text">
						Сладкий снэк, как для детей, так и для взрослых
					</p>
				</div>
			</li>
			<li>
				<div class="list-benefits__item">
					<img
						class="list-benefits__item-img"
						src="@img/benefits/benefit-09.svg"
						alt=""
					/>
					<p class="list-benefits__item-text">
						Только сертифицированная продукция ГОСТ Р ИСО 22000-2019
					</p>
				</div>
			</li>
		</ul>
	</div>
</section>
