<section class="categories" id="section-categories">
	<div class="container">
		<p class="subtitle">Полезные продукты для всей семьи</p>
		<h2 class="title">Продукция компании</h2>
		<ul class="categories__list list-categories">
			<li>
				<a class="list-categories__item" href="#">
					<picture>
						<source
							srcset="@img/categories/category-01.webp"
							type="image/webp"
						/>
						<img
							class="list-categories__item-img list-categories__item-img--1"
							src="@img/categories/category-01.png"
							loading="lazy"
							alt="Хлебцы"
						/>
					</picture>
					<div>
						<p class="list-categories__item-subtitle">Идеальны для перекуса!</p>
						<p class="list-categories__item-title">Хлебцы</p>
					</div>
				</a>
			</li>
			<li>
				<a class="list-categories__item" href="#">
					<picture>
						<source
							srcset="@img/categories/category-02.webp"
							type="image/webp"
						/>
						<img
							class="list-categories__item-img list-categories__item-img--2"
							src="@img/categories/category-02.png"
							loading="lazy"
							alt="Батончики"
						/>
					</picture>
					<div>
						<p class="list-categories__item-subtitle">
							Всегда можно похрустеть!
						</p>
						<p class="list-categories__item-title">Батончики</p>
					</div>
				</a>
			</li>
			<li>
				<a class="list-categories__item" href="#">
					<picture>
						<source
							srcset="@img/categories/category-03.webp"
							type="image/webp"
						/>
						<img
							class="list-categories__item-img list-categories__item-img--3"
							src="@img/categories/category-03.png"
							loading="lazy"
							alt="Подушечки"
						/>
					</picture>
					<div>
						<p class="list-categories__item-subtitle">
							Для истинных сладкоежек!
						</p>
						<p class="list-categories__item-title">Подушечки</p>
					</div>
				</a>
			</li>
			<li>
				<a class="list-categories__item" href="#">
					<picture>
						<source
							srcset="@img/categories/category-04.webp"
							type="image/webp"
						/>
						<img
							class="list-categories__item-img list-categories__item-img--4"
							src="@img/categories/category-04.png"
							loading="lazy"
							alt="Кукурузные палочки"
						/>
					</picture>
					<div>
						<p class="list-categories__item-subtitle">Трудно остановиться!</p>
						<p class="list-categories__item-title">Кукурузные палочки</p>
					</div>
				</a>
			</li>
			<li>
				<a class="list-categories__item" href="#">
					<picture>
						<source
							srcset="@img/categories/category-05.webp"
							type="image/webp"
						/>
						<img
							class="list-categories__item-img list-categories__item-img--5"
							src="@img/categories/category-05.png"
							loading="lazy"
							alt="Весовая продукция"
						/>
					</picture>
					<div>
						<p class="list-categories__item-subtitle">Еда которая удивляет!</p>
						<p class="list-categories__item-title">Весовая продукция</p>
					</div>
				</a>
			</li>
			<li>
				<a class="list-categories__item" href="#">
					<picture>
						<source
							srcset="@img/categories/category-06.webp"
							type="image/webp"
						/>
						<img
							class="list-categories__item-img list-categories__item-img--6"
							src="@img/categories/category-06.png"
							loading="lazy"
							alt="Новинки"
						/>
					</picture>
					<div>
						<p class="list-categories__item-subtitle">Будет очень вкусно!</p>
						<p class="list-categories__item-title">Новинки</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>
