<section
	class="waves-section waves-section--right distributors"
	id="section-distributors"
>
	<div class="container">
		<p class="subtitle">Нашу продукцию легко найти</p>
		<h2 class="title">Где можно купить</h2>
		<ul class="distributors__list list-distributors">
			<li>
				<div class="list-distributors__item">
					<picture>
						<source
							srcset="@img/distributors/distributor-01.webp"
							type="image/webp"
						/>
						<img
							src="@img/distributors/distributor-01.png"
							loading="lazy"
							alt="Дестрибьютор"
						/>
					</picture>
				</div>
			</li>
			<li>
				<div class="list-distributors__item">
					<picture>
						<source
							srcset="@img/distributors/distributor-02.webp"
							type="image/webp"
						/>
						<img
							src="@img/distributors/distributor-02.png"
							loading="lazy"
							alt="Дестрибьютор"
						/>
					</picture>
				</div>
			</li>
			<li>
				<div class="list-distributors__item">
					<picture>
						<source
							srcset="@img/distributors/distributor-03.webp"
							type="image/webp"
						/>
						<img
							src="@img/distributors/distributor-03.png"
							loading="lazy"
							alt="Дестрибьютор"
						/>
					</picture>
				</div>
			</li>
			<li>
				<div class="list-distributors__item">
					<picture>
						<source
							srcset="@img/distributors/distributor-04.webp"
							type="image/webp"
						/>
						<img
							src="@img/distributors/distributor-04.png"
							loading="lazy"
							alt="Дестрибьютор"
						/>
					</picture>
				</div>
			</li>
			<li>
				<div class="list-distributors__item">
					<picture>
						<source
							srcset="@img/distributors/distributor-05.webp"
							type="image/webp"
						/>
						<img
							src="@img/distributors/distributor-05.png"
							loading="lazy"
							alt="Дестрибьютор"
						/>
					</picture>
				</div>
			</li>
			<li>
				<div class="list-distributors__item">
					<picture>
						<source
							srcset="@img/distributors/distributor-06.webp"
							type="image/webp"
						/>
						<img
							src="@img/distributors/distributor-06.png"
							loading="lazy"
							alt="Дестрибьютор"
						/>
					</picture>
				</div>
			</li>
			<li>
				<div class="list-distributors__item">
					<picture>
						<source
							srcset="@img/distributors/distributor-07.webp"
							type="image/webp"
						/>
						<img
							src="@img/distributors/distributor-07.png"
							loading="lazy"
							alt="Дестрибьютор"
						/>
					</picture>
				</div>
			</li>
			<li>
				<div class="list-distributors__item">
					<picture>
						<source
							srcset="@img/distributors/distributor-08.webp"
							type="image/webp"
						/>
						<img
							src="@img/distributors/distributor-08.png"
							loading="lazy"
							alt="Дестрибьютор"
						/>
					</picture>
				</div>
			</li>
			<li>
				<div class="list-distributors__item">
					<picture>
						<source
							srcset="@img/distributors/distributor-09.webp"
							type="image/webp"
						/>
						<img
							src="@img/distributors/distributor-09.png"
							loading="lazy"
							alt="Дестрибьютор"
						/>
					</picture>
				</div>
			</li>
			<li>
				<div class="list-distributors__item">
					<picture>
						<source
							srcset="@img/distributors/distributor-10.webp"
							type="image/webp"
						/>
						<img
							src="@img/distributors/distributor-10.png"
							loading="lazy"
							alt="Дестрибьютор"
						/>
					</picture>
				</div>
			</li>
			<li>
				<div class="list-distributors__item">
					<picture>
						<source
							srcset="@img/distributors/distributor-11.webp"
							type="image/webp"
						/>
						<img
							src="@img/distributors/distributor-11.png"
							loading="lazy"
							alt="Дестрибьютор"
						/>
					</picture>
				</div>
			</li>
			<li>
				<div class="list-distributors__item">
					<picture>
						<source
							srcset="@img/distributors/distributor-12.webp"
							type="image/webp"
						/>
						<img
							src="@img/distributors/distributor-12.png"
							loading="lazy"
							alt="Дестрибьютор"
						/>
					</picture>
				</div>
			</li>
			<li>
				<div class="list-distributors__item">
					<picture>
						<source
							srcset="@img/distributors/distributor-13.webp"
							type="image/webp"
						/>
						<img
							src="@img/distributors/distributor-13.png"
							loading="lazy"
							alt="Дестрибьютор"
						/>
					</picture>
				</div>
			</li>
			<li>
				<div class="list-distributors__item">
					<picture>
						<source
							srcset="@img/distributors/distributor-14.webp"
							type="image/webp"
						/>
						<img
							src="@img/distributors/distributor-14.png"
							loading="lazy"
							alt="Дестрибьютор"
						/>
					</picture>
				</div>
			</li>
			<li>
				<div class="list-distributors__item">
					<picture>
						<source
							srcset="@img/distributors/distributor-15.webp"
							type="image/webp"
						/>
						<img
							src="@img/distributors/distributor-15.png"
							loading="lazy"
							alt="Дестрибьютор"
						/>
					</picture>
				</div>
			</li>
			<li>
				<div class="list-distributors__item">
					<picture>
						<source
							srcset="@img/distributors/distributor-16.webp"
							type="image/webp"
						/>
						<img
							src="@img/distributors/distributor-16.png"
							loading="lazy"
							alt="Дестрибьютор"
						/>
					</picture>
				</div>
			</li>
			<li>
				<div class="list-distributors__item">
					<picture>
						<source
							srcset="@img/distributors/distributor-17.webp"
							type="image/webp"
						/>
						<img
							src="@img/distributors/distributor-17.png"
							loading="lazy"
							alt="Дестрибьютор"
						/>
					</picture>
				</div>
			</li>
			<li>
				<div class="list-distributors__item">
					<picture>
						<source
							srcset="@img/distributors/distributor-18.webp"
							type="image/webp"
						/>
						<img
							src="@img/distributors/distributor-18.png"
							loading="lazy"
							alt="Дестрибьютор"
						/>
					</picture>
				</div>
			</li>
		</ul>

		<a class="button distributors__button" href="#">
			<span>Подробнее</span>
			<span><img src="@img/icons/button-arrow.svg" alt="" /></span>
		</a>
	</div>
</section>
