<section class="geography" id="section-geography">
	<div class="container">
		<p class="subtitle">Нашу продукцию покупают не только в России</p>
		<h2 class="title">География дистрибуции в россии</h2>
		<div class="geography__content">
			<picture>
				<source srcset="@img/geography/map.webp" type="image/webp" />
				<img
					class="geography__map"
					src="@img/geography/map.png"
					loading="lazy"
					alt="Карта"
				/>
			</picture>
			<p class="geography__text">Экспорт осуществляем в:</p>
			<ul class="geography__list">
				<li>Белоруссия</li>
				<li>Киргизия</li>
				<li>Казахстан</li>
				<li>Азербайджан</li>
				<li>Грузия</li>
				<li>Таджикистан</li>
			</ul>
		</div>
	</div>
</section>
