<section class="waves-section waves-section--left history" id="section-history">
	<div class="history__head">
		<p class="subtitle">Мы с Вами более 25 лет вместе</p>
		<h2 class="title">Наша история</h2>
	</div>

	<div class="swiper history__swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						Создание компании «ДИАРИТ» (Запуск первой линии по производству
						кукурузных палочек «Воздушные приключения»)
					</p>
					<p class="history__item-year">1998</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						Запуск первой линии по производству хрустящих трубочек
					</p>
					<p class="history__item-year">2003</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						Регистрация товарного знака «Вкус мая»
					</p>
					<p class="history__item-year">2003</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						Запуск первой линии по производству хлебцев «Вкус мая»
					</p>
					<p class="history__item-year">2008</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						Победитель конкурса «Лидер малого бизнеса»
					</p>
					<p class="history__item-year">2009</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						«100 лучших товаров России» - «Хлебцы Ржаные»
					</p>
					<p class="history__item-year">2010</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						Золотая медаль ПРОДЭКСПО инновационный продукт «Хлебцы спортивные»
					</p>
					<p class="history__item-year">2012</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						Золотая медаль ПРОДЭКСПО инновационный продукт «Хлебцы гречневые»
					</p>
					<p class="history__item-year">2014</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						Серебряная медаль ПРОДЭКСПО инновационный продукт «Хлебцы
						оригинальные»
					</p>
					<p class="history__item-year">2014</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						«100 лучших товаров России» - «кукурузные палочки в белой глазури»
					</p>
					<p class="history__item-year">2014</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						Золотая медаль ПРОДЭКСПО инновационный продукт «Хлебцы тыквенные»
					</p>
					<p class="history__item-year">2016</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						«100 лучших товаров России» - кукурузные палочки «Воздушные
						приключения»
					</p>
					<p class="history__item-year">2016</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						Диплом II степени «Лучший предприниматель региона»
					</p>
					<p class="history__item-year">2016</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						Серебряная медаль «Лучший продукт -2017» Хлебцы хрустящие
						«Тамбовский багет»
					</p>
					<p class="history__item-year">2017</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						Бронзовая медаль «Лучший продукт -2018» «Батончики хрустящие со
						вкусом банана»
					</p>
					<p class="history__item-year">2018</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						Золотая медаль «Гарантия качества» - Хлебцы хрустящие «Тамбовский
						багет»
					</p>
					<p class="history__item-year">2019</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						Серебряная медаль «Гарантия качества» - Хлебцы хрустящие
						«Бородинские с кориандром»
					</p>
					<p class="history__item-year">2019</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						«100 лучших товаров России» «Батончики хрустящие со вкусом банана»
					</p>
					<p class="history__item-year">2019</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						запуск производства миндалевидных подушечек «Миндалики»
					</p>
					<p class="history__item-year">2021</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						III место на региональном конкурсе «Экспортёр года»
					</p>
					<p class="history__item-year">2022</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="history__item">
					<p class="history__item-text">
						Мы не стоим на месте - у нас ещё куча планов по расширению
						ассортимента продукции «Вкус мая»
					</p>
					<p class="history__item-year">2024</p>
				</div>
			</div>
		</div>
		<div class="swiper-controls">
			<div class="swiper-button-prev history__swiper-button-prev"></div>
			<div class="swiper-pagination history__swiper-pagination"></div>
			<div class="swiper-button-next history__swiper-button-next"></div>
		</div>
	</div>
</section>
