<section class="waves-section waves-section--right intro" id="section-intro">
	<div class="container">
		<div class="swiper intro__swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="intro__item intro__item--1">
						<picture>
							<source srcset="@img/intro/intro-01.webp" type="image/webp" />
							<img
								class="intro__item-img intro__item-img--1"
								src="@img/intro/intro-01.png"
								loading="lazy"
								alt="Продукция"
							/>
						</picture>
						<div class="intro__item-content">
							<p class="subtitle">Без использования консервантов и ГМО</p>
							<p class="title intro__item-title">Натуральный продукт</p>
							<div class="intro__item-text">
								<p>
									Наша вкусная продукция от компании «Вкус Мая», подарит всем
									незабываемый вкус и непременно вернет Вас в самое детство.
								</p>
							</div>
							<button
								class="button intro__item-button"
								data-modal-path="price-list"
							>
								<span>Узнать цену</span>
								<span><img src="@img/icons/currency.svg" alt="" /></span>
							</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="intro__item intro__item--2">
						<picture>
							<source srcset="@img/intro/intro-02.webp" type="image/webp" />
							<img
								class="intro__item-img intro__item-img--2"
								src="@img/intro/intro-02.png"
								loading="lazy"
								alt="Продукция"
							/>
						</picture>
						<div class="intro__item-content">
							<p class="subtitle">Не содержат дрожжей и консервантов</p>
							<p class="title intro__item-title">идеальны для перекуса</p>
							<div class="intro__item-text">
								<p>
									Ассортимент: ржаные с луком «Оригинальные», ржаные с томатом,
									гречнево-ржаные «Гречневые», с куркумой «Восточные»,
									овсяно-ржаные «Спортивные», ржаные с чесноком «Пикантные»,
									«Ржаные», «Бородинские» с кориандром, «Тамбовский багет».
								</p>
							</div>
							<button
								class="button intro__item-button"
								data-modal-path="price-list"
							>
								<span>Узнать цену</span>
								<span><img src="@img/icons/currency.svg" alt="" /></span>
							</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="intro__item intro__item--3">
						<picture>
							<source srcset="@img/intro/intro-03.webp" type="image/webp" />
							<img
								class="intro__item-img intro__item-img--3"
								src="@img/intro/intro-03.png"
								loading="lazy"
								alt="Продукция"
							/>
						</picture>
						<div class="intro__item-content">
							<p class="subtitle">Сладкий снек, для детей и взрослых</p>
							<p class="title intro__item-title">Новинка МИНДАЛИКИ</p>
							<div class="intro__item-text">
								<ul>
									<li>
										Имеют эксклюзивную форму - еда должна приносить
										удовольствие.
									</li>
									<li>
										Начинка с ярким вкусом в нежном хрустящем корпусе, который
										тает во рту.
									</li>
								</ul>
							</div>
							<button
								class="button intro__item-button"
								data-modal-path="price-list"
							>
								<span>Узнать цену</span>
								<span><img src="@img/icons/currency.svg" alt="" /></span>
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-controls">
				<div class="swiper-button-prev intro__swiper-button-prev"></div>
				<div class="swiper-pagination intro__swiper-pagination"></div>
				<div class="swiper-button-next intro__swiper-button-next"></div>
			</div>
		</div>
	</div>
</section>
