<section class="waves-section waves-section--left request" id="section-request">
	<div class="container">
		<p class="subtitle">
			Отправьте запрос на полный каталог продукции с оптовыми ценами на Ваш
			e-&#8288;mail
		</p>
		<h2 class="title">Оставьте заявку на прайс лист</h2>

		<form class="request__form form-request">
			<label class="label">
				<p>Ваше имя<span class="highlight">*</span>:</p>
				<input class="input" class="input" type="text" placeholder="Имя" />
			</label>
			<label class="label">
				<p>Название организации<span class="highlight">*</span>:</p>
				<input class="input" type="text" placeholder="ООО “Компания”" />
			</label>
			<label class="label">
				<p>Город<span class="highlight">*</span>:</p>
				<input class="input" type="text" placeholder="Москва" />
			</label>
			<label class="label">
				<p>Ваш e-mail<span class="highlight">*</span>:</p>
				<input class="input" type="email" placeholder="_@_" />
			</label>
			<label class="label">
				<p>Ваш телефон<span class="highlight">*</span>:</p>
				<input class="input" type="tel" placeholder="+7 999 999 99 99" />
			</label>
			<button class="button form-request__button">
				<span>Получить прайс-лист</span>
				<span><img src="@img/icons/price-list.svg" alt="" /></span>
			</button>
		</form>

		<p class="request__privacy">
			Нажимая кнопку, вы даете согласие на
			<a href="#">обработку персональных данных</a>
		</p>
	</div>
</section>
