<section class="technology" id="section-technology">
	<div class="container">
		<p class="subtitle">Безопасное производство продукции</p>
		<h2 class="title">Технология производства</h2>
		<ul class="technology__list list-technology">
			<li>
				<div class="list-technology__item">
					<img
						class="list-technology__item-img"
						src="@img/technology/technology-01.svg"
						alt=""
					/>
					<span class="list-technology__item-number">01.</span>
					<p class="list-technology__item-text">
						Подготовка сырья (просеивание и очистка муки от мучки и примесей).
					</p>
				</div>
			</li>
			<li>
				<div class="list-technology__item">
					<img
						class="list-technology__item-img"
						src="@img/technology/technology-02.svg"
						alt=""
					/>
					<span class="list-technology__item-number">02.</span>
					<p class="list-technology__item-text">
						Смешивание компонентов согласно рецептуре.
					</p>
				</div>
			</li>
			<li>
				<div class="list-technology__item">
					<img
						class="list-technology__item-img"
						src="@img/technology/technology-03.svg"
						alt=""
					/>
					<span class="list-technology__item-number">03.</span>
					<p class="list-technology__item-text">
						Подача смеси в бункер с дозирующим отсеком.
					</p>
				</div>
			</li>
			<li>
				<div class="list-technology__item">
					<img
						class="list-technology__item-img"
						src="@img/technology/technology-04.svg"
						alt=""
					/>
					<span class="list-technology__item-number">04.</span>
					<p class="list-technology__item-text">
						Нагретая до 1200 смесь мгновенно взрывается под высоким давлением
						(приобретая объём и пористость), т.к. влага вскипает в его составе.
					</p>
				</div>
			</li>
			<li>
				<div class="list-technology__item">
					<img
						class="list-technology__item-img"
						src="@img/technology/technology-05.svg"
						alt=""
					/>
					<span class="list-technology__item-number">05.</span>
					<p class="list-technology__item-text">
						Изделию придаётся соответствующая форма и, после охлаждения, оно
						упаковывается.
					</p>
				</div>
			</li>
		</ul>

		<div class="technology__info info">
			<img src="@img/icons/info.svg" alt="" />
			<p>
				Процесс является почти полностью автоматизированным, участие людей
				минимальное. Человек контролирует температуру нагревателя, показатели
				давления и уровень сырья в бункере.
			</p>
		</div>
	</div>
</section>
