@font-face {
	src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
	font-family: "Montserrat";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
	font-family: "Montserrat";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
	font-family: "Montserrat";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
	font-family: "Montserrat";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	--font-family: "Montserrat";
	--color-white: #fff;
	--color-black: #393939;
	--color-red: #e72d30;
	--color-blue-gray: #f0f0f8;
	--color-gray: #959595;
}

html {
	font-size: calc(1vw / 0.42);

	@media (min-width: 768px) {
		font-size: calc(1vw / 0.768);
	}

	@media (min-width: 1200px) {
		font-size: calc(1vw / 1.92);
	}

	// @media (min-width: 1920px) {
	// 	font-size: 62.5%;
	// }
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
	padding: 0;
}

li {
	display: flex;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
	object-fit: cover;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	margin: 0;
	border: none;
	padding: 0;
	color: inherit;
	background: transparent;
	cursor: pointer;
}

a {
	font: inherit;
	text-decoration: none;
	color: inherit;
}

.dis-scroll {
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	overscroll-behavior: none;
}

.page {
	height: 100%;
	-webkit-text-size-adjust: 100%;
}

.page__body {
	min-width: 32rem;
	min-height: 100%;
	font-family: var(--font-family), sans-serif;
	font-weight: 500;
	font-size: 2rem;
	line-height: 1.6;
	color: var(--color-black);
	background-color: var(--color-white);
}

.page--ios .dis-scroll {
	position: relative;
}

.site-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.main {
	flex: 1 0 auto;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 38rem;

	@media (min-width: 768px) {
		max-width: 72.8rem;
	}

	@media (min-width: 1200px) {
		max-width: 140rem;
	}
}

.modal-overlay {
	position: fixed;
	z-index: 1400;
	display: none;
	place-items: center;
	overflow-y: auto;
	padding: 6rem 0;
	background-color: rgba(0, 0, 0, 0.6);
	inset: 0;

	&--active {
		display: grid;
	}
}

.modal-content {
	position: relative;
	z-index: 1400;
	display: grid;
	border-radius: 3.5rem;
	width: 100%;
	max-width: 38rem;
	background-color: var(--color-white);

	@media (min-width: 768px) {
		max-width: 72.8rem;
	}

	@media (min-width: 1200px) {
		border-radius: 8rem;
		max-width: 81.1rem;
	}
}

.form-modal {
	&__content {
		background-color: var(--color-blue-gray);
	}

	&__close {
		position: absolute;
		right: 2.4rem;
		top: 2.4rem;
		z-index: 10;
		width: 2rem;
		height: 2rem;

		img {
			width: 100%;
			height: 100%;
		}

		@media (min-width: 768px) {
			right: 3rem;
			top: 3rem;
			width: 3.2rem;
			height: 3.2rem;
		}

		@media (min-width: 1200px) {
			right: 5.6rem;
		}
	}

	&__body {
		position: relative;
		overflow: hidden;
		border-radius: 3.5rem;
		padding: 2.4rem 2.7rem 4rem;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2.7rem;
			background-image: url("../img/waves-sm.svg");
			background-size: cover;
			background-repeat: no-repeat;

			@media (min-width: 768px) {
				height: 6rem;
				background-image: url("../img/waves-md.svg");
				background-position-x: -3.2rem;
			}

			@media (min-width: 1200px) {
				height: 8rem;
				background-image: url("../img/waves-lg.svg");
				background-position-x: 0;
			}
		}

		@media (min-width: 768px) {
			padding: 8.2rem 2.7rem 11rem;
		}

		@media (min-width: 1200px) {
			border-radius: 8rem;
			padding: 8.2rem 2.7rem 12.4rem;
		}
	}

	&__info {
		display: none;

		&--active {
			display: block;
		}
	}

	&__title {
		margin-bottom: 2rem;
		font-weight: 600;
		font-size: 3.2rem;
		line-height: 1.3;
		text-align: center;
		text-transform: uppercase;

		@media (min-width: 768px) {
			margin-bottom: 4rem;
			font-size: 4.8rem;
		}

		@media (min-width: 1200px) {
			font-size: 5.2rem;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		margin-bottom: 2.2rem;
		gap: 2rem;

		@media (min-width: 768px) {
			margin: 0 auto 3.2rem;
			width: 100%;
			max-width: 51.7rem;
			gap: 2.7rem;
		}
	}

	&__form-button {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1.5rem auto 0;
		border-radius: 3.1rem;
		width: 27.8rem;
		height: 6.2rem;
		text-align: center;
		color: #fff;
		background-color: var(--color-red);

		@media (min-width: 768px) {
			margin-top: 3rem;
		}
	}

	&__privacy {
		text-align: center;

		a {
			text-decoration: underline;
			text-decoration-skip-ink: none;
		}

		@media (min-width: 768px) {
			margin: 0 auto;
			width: 100%;
			max-width: 41rem;
		}
	}

	&__success {
		display: none;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;

		&--active {
			display: block;
		}
	}

	&__success-title {
		margin-bottom: 2rem;
		font-size: 3.2rem;

		@media (min-width: 768px) {
			font-size: 5.2rem;
		}
	}

	&__success-text {
		button {
			text-decoration: underline;
			text-transform: uppercase;
			color: var(--color-red);
			text-decoration-skip-ink: none;
		}

		@media (min-width: 768px) {
			font-size: 3.2rem;
		}
	}
}

.subtitle {
	margin-bottom: 0.4rem;
	font-weight: 600;
	font-size: 1.6rem;
	text-align: center;
	color: var(--color-red);

	@media (min-width: 1200px) {
		margin-bottom: 0.8rem;
		font-size: 2rem;
		text-align: left;
	}
}

.title {
	margin-bottom: 1.5rem;
	font-weight: 600;
	font-size: 3.2rem;
	line-height: 1.3;
	text-align: center;
	text-transform: uppercase;

	@media (min-width: 768px) {
		font-size: 4.8rem;
	}

	@media (min-width: 1200px) {
		margin-bottom: 4.3rem;
		font-size: 5.2rem;
		line-height: 1.1;
		text-align: left;
	}
}

.button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 3.1rem;
	padding-right: 1rem;
	width: 100%;
	min-height: 6.2rem;
	background-color: var(--color-red);

	span {
		&:first-child {
			flex-grow: 1;
			font-weight: 500;
			font-size: 2rem;
			text-align: center;
			color: #fff;
		}

		&:last-child {
			display: flex;
			flex-shrink: 0;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			width: 4.2rem;
			height: 4.2rem;
			background-color: var(--color-white);
		}
	}
}

.label {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;

	p {
		padding-left: 2rem;
		font-weight: 500;
		font-size: 2rem;
		line-height: 1.4;

		@media (min-width: 1200px) {
			padding: 0 3.7rem;
		}
	}

	.highlight {
		color: var(--color-red);
	}
}

.input {
	border: none;
	border-radius: 3.1rem;
	padding: 0 2rem;
	width: 100%;
	height: 6.2rem;
	color: var(--color-black);

	&::placeholder {
		color: var(--color-gray);
	}

	&:focus-visible {
		outline: none;
	}

	@media (min-width: 1200px) {
		padding: 0 3.7rem;
	}
}

.swiper-controls {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.swiper-button-prev,
	.swiper-button-next,
	.swiper-pagination {
		position: static;
	}

	.swiper-button-prev,
	.swiper-button-next {
		flex-shrink: 0;
		margin-top: 0;
		border-radius: 50%;
		width: 6.2rem;
		height: 6.2rem;
		background-color: var(--color-white);

		&::after {
			content: "";
			width: 1rem;
			height: 1.6rem;
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}

		&--gray {
			background-color: var(--color-blue-gray);

			@media (min-width: 1200px) {
				border: 0.3rem solid var(--color-blue-gray);
				background-color: var(--color-white);
			}
		}
	}

	.swiper-button-prev {
		&::after {
			background-image: url("../img/icons/arrow-prev.svg");
		}
	}

	.swiper-button-next {
		&::after {
			background-image: url("../img/icons/arrow-next.svg");
		}
	}

	.swiper-pagination {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 1rem 1.9rem;

		.swiper-pagination-bullet {
			flex-shrink: 0;
			margin: 0;
			width: 1.2rem;
			height: 1.2rem;
			background-color: var(--color-black);
			opacity: 1;

			&-active {
				background-color: var(--color-red);
			}
		}
	}
}

.waves-section {
	position: relative;
	background-color: var(--color-blue-gray);

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2.7rem;
		background-image: url("../img/waves-sm.svg");
		background-size: cover;
		background-repeat: no-repeat;

		@media (min-width: 768px) {
			height: 6rem;
			background-image: url("../img/waves-md.svg");
			background-position-x: -3.2rem;
		}

		@media (min-width: 1200px) {
			height: 8rem;
			background-image: url("../img/waves-lg.svg");
			background-position-x: 0;
		}
	}

	&--right {
		@media (min-width: 1200px) {
			margin-right: 13.1rem;
			border-radius: 0 8rem 8rem 0;
			padding-left: 13.1rem;
		}
	}

	&--left {
		@media (min-width: 1200px) {
			margin-left: 13.1rem;
			border-radius: 8rem 0 0 8rem;
			padding-right: 13.1rem;
		}
	}
}

.info {
	display: flex;
	align-items: flex-start;
	border: 0.3rem solid #f0f0f8;
	border-radius: 3.5rem;
	padding: 1.8rem 1.8rem 1.8rem 2.4rem;
	gap: 1.5rem;

	img {
		flex-shrink: 0;
		width: 4.1rem;
		height: 4.1rem;
	}

	p {
		font-size: 1.6rem;
		line-height: 1.5;

		@media (min-width: 1200px) {
			font-size: 2rem;
		}
	}

	@media (min-width: 768px) {
		padding: 2rem 8rem 2rem 3.3rem;
	}

	@media (min-width: 1200px) {
		align-items: center;
		padding: 2.2rem 3.4rem;
	}
}

.header {
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 10rem;

		@media (min-width: 768px) {
			min-height: 14.6rem;
			gap: 4.4rem;
		}

		@media (min-width: 1200px) {
			gap: 3.5rem;
		}
	}

	&__logo {
		flex-shrink: 0;
		width: 13.6rem;
		height: 6.2rem;

		img {
			width: 100%;
			height: 100%;
		}

		@media (min-width: 768px) {
			margin-right: auto;
			width: 18.6rem;
			height: 8.5rem;
		}
	}

	&__phone-link {
		display: none;

		@media (min-width: 768px) {
			display: block;
			font-size: 2.4rem;
			line-height: 1.3;
			text-transform: uppercase;
		}

		@media (min-width: 1200px) {
			display: none;
		}
	}

	&__mobile-buttons {
		display: flex;
		align-items: center;
		gap: 1.5rem;

		@media (min-width: 768px) {
			gap: 2.5rem;
		}

		@media (min-width: 1200px) {
			display: none;
		}
	}

	&__phone-mobile {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		width: 6.2rem;
		height: 6.2rem;
		background-color: var(--color-red);

		img {
			width: 1.4rem;
			height: 1.4rem;
		}
	}

	&__phone-button {
		display: none;

		&-text {
			@media (min-width: 1200px) {
				flex-grow: 1;
				color: var(--color-white);
			}
		}

		&-icon {
			img {
				@media (min-width: 1200px) {
					width: 1.4rem;
					height: 1.4rem;
				}
			}

			@media (min-width: 1200px) {
				display: flex;
				flex-shrink: 0;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				width: 4.2rem;
				height: 4.2rem;
				background-color: var(--color-white);
			}
		}

		@media (min-width: 1200px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-radius: 3.1rem;
			padding-right: 1rem;
			width: 27rem;
			height: 6.2rem;
			background-color: var(--color-red);
		}
	}
}

.burger {
	position: relative;
	border-radius: 50%;
	width: 6.2rem;
	height: 6.2rem;
	background-color: var(--color-black);

	&__img-open {
		width: 2.6rem;
		height: 1.5rem;
		transform: translate(-50%, -50%) scale(1);
	}

	&__img-close {
		width: 2.2rem;
		height: 2.2rem;
		transform: translate(-50%, -50%) scale(0);
	}

	img {
		position: absolute;
		left: 50%;
		top: 50%;
		transition: all 0.2s ease-in-out;
	}

	&--active {
		.burger__img-open {
			transform: translate(-50%, -50%) scale(0);
		}

		.burger__img-close {
			transform: translate(-50%, -50%) scale(1);
		}
	}
}

.mobile-menu {
	position: fixed;
	left: 0;
	top: 10rem;
	bottom: 0;
	z-index: 1300;
	display: none;
	overflow-y: auto;
	width: 100%;
	background-color: var(--color-white);

	&__list {
		li {
			border-bottom: 0.3rem solid var(--color-blue-gray);

			a,
			button,
			p {
				padding: 1.9rem 2rem;
			}

			&:first-child {
				border-top: 0.3rem solid var(--color-blue-gray);
			}
		}
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		img {
			flex-shrink: 0;
			width: 0.5rem;
			height: 0.9rem;

			@media (min-width: 768px) {
				margin-right: 2.8rem;
			}
		}
	}

	&__submenu {
		display: none;

		&--active {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background-color: var(--color-white);
			inset: 0;
		}
	}

	&__submenu-back {
		display: flex;
		align-items: center;
		gap: 0.9rem;

		img {
			flex-shrink: 0;
			width: 0.5rem;
			height: 0.8rem;
		}

		@media (min-width: 768px) {
			gap: 2.5rem;
		}
	}

	&__submenu-title {
		font-weight: 700;
		color: var(--color-red);
	}

	&--active {
		display: block;
	}

	@media (min-width: 768px) {
		top: 14.6rem;
	}
}

.menu {
	display: none;

	&__list {
		@media (min-width: 1200px) {
			display: flex;
			align-items: center;
			gap: 5.9rem;
		}
	}

	&__button {
		svg {
			@media (min-width: 1200px) {
				flex-shrink: 0;
				width: 0.8rem;
				height: 0.5rem;
			}
		}

		@media (min-width: 1200px) {
			display: flex;
			align-items: center;
			gap: 0.1rem;

			&:hover {
				+ .menu__submenu {
					display: flex;
				}
			}
		}
	}

	&__submenu {
		@media (min-width: 1200px) {
			position: absolute;
			right: -50%;
			top: 120%;
			z-index: 1300;
			display: none;
			flex-direction: column;
			align-items: center;
			border: 0.3rem solid var(--color-blue-gray);
			border-radius: 3.5rem;
			padding: 1.6rem;
			width: 30rem;
			background-color: var(--color-white);
			gap: 2rem;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: -1rem;
				width: 100%;
				height: 1rem;
			}

			&:hover {
				display: flex;
			}
		}
	}

	li {
		a,
		button {
			text-align: center;

			&:hover {
				@media (min-width: 1200px) {
					color: var(--color-red);
					transition: 0.1s ease-in-out;

					svg path {
						fill: var(--color-red);
					}
				}
			}
		}

		@media (min-width: 1200px) {
			position: relative;
		}
	}

	@media (min-width: 1200px) {
		display: block;
	}
}

.intro {
	margin-bottom: 1.5rem;
	padding-bottom: 4.5rem;

	&__swiper {
		.swiper-slide {
			height: auto;

			@media (min-width: 1200px) {
				margin-bottom: -6.2rem;
			}
		}

		@media (min-width: 1200px) {
			margin-bottom: -4rem;
			padding-bottom: 4rem;
		}
	}

	&__item {
		height: 100%;
		background-color: var(--color-blue-gray);

		&::before {
			@media (min-width: 1200px) {
				content: "";
				position: absolute;
				right: 3.4rem;
				top: 1.5rem;
				z-index: 0;
				width: 69.4rem;
				height: 70.3rem;
				background-image: url("../img/intro/bg.svg");
				background-size: cover;
				background-repeat: no-repeat;
				transform: rotate(126deg);
			}
		}

		&--1 {
			padding-top: 3.7rem;

			@media (min-width: 768px) {
				padding-top: 3rem;
			}

			@media (min-width: 1200px) {
				padding-top: 12.3rem;
			}
		}

		&--2 {
			padding-top: 2.9rem;

			@media (min-width: 768px) {
				padding-top: 3.7rem;
			}

			@media (min-width: 1200px) {
				padding-top: 5.9rem;
			}
		}

		&--3 {
			padding-top: 3.3rem;

			@media (min-width: 768px) {
				padding-top: 4.6rem;
			}

			@media (min-width: 1200px) {
				padding-top: 6.1rem;
			}
		}

		@media (min-width: 1200px) {
			position: relative;
			display: flex;
			flex-direction: row-reverse;
			justify-content: flex-end;
			padding-bottom: 6.2rem;
		}
	}

	&__item-img {
		margin: 0 auto 1rem;

		&--1 {
			width: 31.6rem;
			height: 24.7rem;

			@media (min-width: 768px) {
				width: 40.5rem;
				height: 31.6rem;
			}

			@media (min-width: 1200px) {
				right: -4.8rem;
				top: 7.4rem;
				width: 79.2rem;
				height: 61.8rem;
			}
		}

		&--2 {
			width: 38rem;
			height: 25.5rem;

			@media (min-width: 768px) {
				right: -1.2rem;
				top: 10.2rem;
				width: 46rem;
				height: 30.9rem;
			}

			@media (min-width: 1200px) {
				width: 77.7rem;
				height: 52.1rem;
			}
		}

		&--3 {
			width: 24rem;
			height: 25.1rem;

			@media (min-width: 768px) {
				width: 28.7rem;
				height: 30rem;
			}

			@media (min-width: 1200px) {
				right: 7.8rem;
				top: 5.5rem;
				width: 57.7rem;
				height: 60.2rem;
			}
		}

		@media (min-width: 1200px) {
			position: absolute;
			margin-bottom: 0;
		}
	}

	&__item-content {
		margin-bottom: 3.7rem;

		@media (min-width: 1200px) {
			margin-bottom: 6.9rem;
			max-width: 65.2rem;
		}
	}

	&__item-title {
		@media (min-width: 1200px) {
			font-size: 7.8rem;
		}
	}

	&__item-text {
		display: none;

		ul {
			li {
				&::before {
					content: "";
					position: absolute;
					left: 0;
					top: 0.6rem;
					width: 2rem;
					height: 2rem;
					background-image: url("../img/intro/check.svg");
					background-size: contain;
				}

				@media (min-width: 768px) {
					position: relative;
					padding-left: 4.3rem;
				}
			}

			@media (min-width: 1200px) {
				display: flex;
				flex-direction: column;
				max-width: 54rem;
				gap: 3rem;
			}
		}

		@media (min-width: 1200px) {
			display: block;
			margin-bottom: 3.6rem;
		}
	}

	&__item-button {
		margin: 0 auto;
		max-width: 29.2rem;

		@media (min-width: 1200px) {
			margin: 0;
		}
	}

	@media (min-width: 768px) {
		margin-bottom: 6rem;
		padding-bottom: 8rem;
	}

	@media (min-width: 1200px) {
		// margin-right: 13.1rem;
		// border-radius: 0 8rem 8rem 0;
		// padding: 0 0 8.8rem 13.1rem;
		padding-bottom: 8.8rem;
	}
}

.categories {
	margin-bottom: 8rem;

	@media (min-width: 768px) {
		margin-bottom: 8.5rem;
	}

	@media (min-width: 1200px) {
		margin-bottom: 13rem;
	}
}

.list-categories {
	display: grid;
	gap: 1.4rem;

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		border: 0.3rem solid var(--color-blue-gray);
		border-radius: 3.5rem;
		padding-bottom: 2rem;
		width: 100%;
		height: 38.4rem;
		background: rgba(247, 247, 251, 0.5);

		@media (min-width: 1200px) {
			padding-bottom: 5rem;
			height: 49rem;
		}
	}

	&__item-img {
		&--1 {
			margin-top: 3.8rem;
			width: 31.2rem;
			height: 21.7rem;

			@media (min-width: 1200px) {
				margin-top: 8.5rem;
				width: 35.7rem;
				height: 24.8rem;
			}
		}

		&--2 {
			margin-top: 3.5rem;
			width: 31.2rem;
			height: 22.3rem;

			@media (min-width: 1200px) {
				margin-top: 8.5rem;
				width: 33.9rem;
				height: 24.2rem;
			}
		}

		&--3 {
			margin-top: 3rem;
			width: 30.3rem;
			height: 25rem;

			@media (min-width: 1200px) {
				margin-top: 6.7rem;
				width: 35.8rem;
				height: 29.5rem;
			}
		}

		&--4 {
			margin-top: 6.3rem;
			width: 29.2rem;
			height: 18.4rem;

			@media (min-width: 1200px) {
				margin-top: 10rem;
				width: 31.8rem;
				height: 20rem;
			}
		}

		&--5 {
			margin-top: 4.5rem;
			width: 20.9rem;
			height: 21.8rem;

			@media (min-width: 1200px) {
				margin-top: 9.5rem;
				width: 20.9rem;
				height: 21.8rem;
			}
		}

		&--6 {
			margin-top: 4.5rem;
			width: 15rem;
			height: 23.8rem;

			@media (min-width: 1200px) {
				margin-top: 8.1rem;
				width: 15rem;
				height: 23.8rem;
			}
		}
	}

	&__item-subtitle {
		margin-bottom: 1.4rem;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 1.5;
		text-align: center;
		color: var(--color-red);

		@media (min-width: 1200px) {
			font-size: 2rem;
		}
	}

	&__item-title {
		font-weight: 600;
		font-size: 2.4rem;
		line-height: 1;
		text-align: center;

		@media (min-width: 1200px) {
			font-size: 3.2rem;
		}
	}

	@media (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}

	@media (min-width: 1200px) {
		grid-template-columns: repeat(3, 1fr);
		gap: 5.7rem;
	}
}

.benefits {
	margin-bottom: 3.4rem;
	padding: 3.4rem 0 5.5rem;

	@media (min-width: 768px) {
		margin-bottom: 6rem;
		padding: 5.8rem 0 10rem;
	}

	@media (min-width: 1200px) {
		margin-bottom: 10rem;
		padding-top: 6.4rem;
		padding-bottom: 17rem;
	}
}

.list-benefits {
	display: grid;
	gap: 2.4rem;

	&__item {
		display: flex;
		align-items: center;
		gap: 2.4rem;
	}

	&__item-img {
		flex-shrink: 0;
		width: 9rem;
		height: 9rem;
		object-fit: contain;
	}

	@media (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
		gap: 2.4rem 3.2rem;
	}

	@media (min-width: 1200px) {
		grid-template-columns: repeat(3, 1fr);
		gap: 4rem 3.7rem;
	}
}

.products {
	margin-bottom: 3.6rem;

	@media (min-width: 768px) {
		margin-bottom: 8.5rem;
	}

	@media (min-width: 1200px) {
		margin-bottom: 13rem;
	}
}

.tabs-products {
	&__list {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		margin-bottom: 3rem;
		gap: 1rem;

		li {
			&:nth-child(1) {
				grid-area: 1 / 1 / 2 / 3;
			}

			&:nth-child(2) {
				grid-area: 1 / 3 / 2 / 5;
			}

			&:nth-child(3) {
				grid-area: 1 / 5 / 2 / 7;
			}

			&:nth-child(4) {
				grid-area: 2 / 1 / 3 / 4;
			}

			&:nth-child(5) {
				grid-area: 2 / 4 / 3 / 7;
			}

			&:nth-child(6) {
				grid-area: 3 / 3 / 4 / 5;
			}
		}

		@media (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 1.7rem 2.3rem;
		}

		@media (min-width: 1200px) {
			justify-content: flex-start;
			gap: 2.1rem;
		}
	}

	&__button {
		border: 0.3rem solid var(--color-red);
		border-radius: 3.1rem;
		padding: 0.5rem 1rem;
		width: 100%;
		font-size: 1.6rem;
		text-align: center;
		cursor: pointer;

		&--active {
			color: var(--color-white);
			background-color: var(--color-red);
		}

		@media (min-width: 768px) {
			padding: 1.2rem 3.1rem;
			font-size: 2rem;
		}

		@media (min-width: 1200px) {
			padding: 1.2rem 4.6rem;
		}
	}

	&__content {
		display: none;
		margin-bottom: 3.8rem;
		animation: fadeEffect 0.5s;

		&--active {
			display: block;
		}

		@media (min-width: 768px) {
			margin-bottom: 4.6rem;
		}

		@media (min-width: 1200px) {
			margin-bottom: 6.4rem;
		}
	}

	&__swiper {
		.swiper-slide {
			width: auto;
			height: auto;
		}

		.swiper-controls {
			.swiper-button-prev,
			.swiper-button-next,
			.swiper-pagination {
				margin-top: 4.2rem;

				@media (min-width: 768px) {
					margin-top: 2.3rem;
				}

				@media (min-width: 1200px) {
					margin-top: 4.6rem;
				}
			}

			.swiper-button-prev.swiper-button-lock,
			.swiper-button-next.swiper-button-lock {
				margin-top: 0;
			}

			.swiper-pagination.swiper-pagination-lock {
				margin-top: 0;
			}
		}
	}
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.item-product {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border: 0.3rem solid #f0f0f8;
	border-radius: 3.5rem;
	height: 100%;

	&__content {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		align-items: center;
		padding: 2rem 1rem 1rem;

		@media (min-width: 768px) {
			padding: 4.2rem 1rem 3rem;
		}

		@media (min-width: 1200px) {
			padding: 2.7rem 1rem 3.1rem;
		}
	}

	&__img {
		margin-bottom: 2rem;
		height: 15.4rem;
		object-fit: contain;

		@media (min-width: 768px) {
			margin-bottom: 2.8rem;
			height: 26.8rem;
		}
	}

	&__title {
		flex-grow: 1;
		margin-bottom: 1.5rem;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 1.5;
		text-align: center;

		@media (min-width: 768px) {
			margin-bottom: 3rem;
			font-size: 2rem;
		}
	}

	&__weight {
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 1.5;
		text-align: center;
		color: var(--color-red);

		@media (min-width: 768px) {
			font-size: 2rem;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem 0;
		background-color: var(--color-blue-gray);
		gap: 2.9rem;

		&-text {
			display: none;

			@media (min-width: 768px) {
				display: block;
				color: var(--color-red);
			}
		}

		&-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			width: 4.2rem;
			height: 4.2rem;
			background-color: var(--color-white);

			img {
				width: 0.7rem;
				height: 1.1rem;
			}
		}

		@media (min-width: 768px) {
			padding: 1.8rem;
		}
	}
}

.distributors {
	margin-bottom: 3.5rem;
	padding-top: 3.4rem;
	padding-bottom: 6.2rem;

	&__button {
		margin: 0 auto;
		width: 25.4rem;

		img {
			width: 0.7rem;
			height: 1.1rem;
		}
	}

	@media (min-width: 768px) {
		margin-bottom: 5.8rem;
		padding-top: 5rem;
		padding-bottom: 10rem;
	}

	@media (min-width: 1200px) {
		margin-bottom: 10rem;
		padding-top: 5.4rem;
		padding-bottom: 13rem;
	}
}

.list-distributors {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 4.2rem;
	gap: 2.4rem;

	li {
		&:nth-child(16) {
			@media (min-width: 1200px) {
				grid-area: 4 / 2 / 5 / 3;
			}
		}

		&:nth-child(17) {
			@media (min-width: 1200px) {
				grid-area: 4 / 3 / 5 / 4;
			}
		}

		&:nth-child(18) {
			@media (min-width: 1200px) {
				grid-area: 4 / 4 / 5 / 5;
			}
		}
	}

	&__item {
		width: 100%;
		height: 7.2rem;

		img {
			width: 100%;
			height: 100%;
		}

		@media (min-width: 768px) {
			height: 9rem;
		}

		@media (min-width: 1200px) {
			height: 10.2rem;
		}
	}

	@media (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
		margin-bottom: 4.7rem;
		gap: 3rem;
	}

	@media (min-width: 1200px) {
		grid-template-columns: repeat(5, 1fr);
		margin-bottom: 4rem;
		gap: 3.4rem;
	}
}

.geography {
	margin-bottom: 4rem;

	&__content {
		@media (min-width: 1200px) {
			position: relative;
			min-height: 75.8rem;
		}
	}

	&__map {
		margin-bottom: 3rem;
		width: 100%;
		height: 20.7rem;

		@media (min-width: 768px) {
			height: 39.3rem;
		}

		@media (min-width: 1200px) {
			position: absolute;
			right: -7.9rem;
			top: 3rem;
			width: 136.1rem;
			height: 72.8rem;
		}
	}

	&__text {
		margin-bottom: 2rem;
		font-weight: 700;
		text-align: center;

		@media (min-width: 768px) {
			font-size: 2.4rem;
		}

		@media (min-width: 1200px) {
			margin-bottom: 1rem;
			text-align: left;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem 2.4rem;

		li {
			position: relative;
			padding-left: 4rem;
			font-size: 1.6rem;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: -0.1rem;
				width: 2.3rem;
				height: 2.8rem;
				background-image: url("../img/icons/marker.svg");
				background-size: 100% 100%;
			}

			@media (min-width: 1200px) {
				font-size: 2rem;
			}
		}

		@media (min-width: 768px) {
			margin: 0 auto;
			width: max-content;
			gap: 1rem 4.5rem;
		}

		@media (min-width: 1200px) {
			grid-template-columns: 1fr;
			width: 100%;
			gap: 1rem;
		}
	}

	@media (min-width: 768px) {
		margin-bottom: 6rem;
	}
}

.history {
	margin-bottom: 3.5rem;
	padding-top: 2rem;
	padding-bottom: 4.5rem;

	&__head {
		padding: 0 max(0rem, (100% - 38rem) / 2);

		@media (min-width: 768px) {
			padding: 0 max(0rem, (100% - 72.8rem) / 2);
		}

		@media (min-width: 1200px) {
			padding: 0 max(0rem, (100% - 153rem) / 2);
		}
	}

	&__swiper {
		padding: 0 max(0rem, (100% - 38rem) / 2);

		.swiper-wrapper {
			margin-bottom: 2.5rem;
			padding: 18rem 0;

			@media (min-width: 768px) {
				padding: 22rem 0 18rem;
			}
		}

		.swiper-slide {
			&:first-child {
				.history__item {
					border-radius: 3.5rem 0 0 3.5rem;
				}
			}

			&:last-child {
				.history__item {
					border-radius: 0 3.5rem 3.5rem 0;
				}

				.history__item-text {
					/* stylelint-disable-next-line declaration-no-important */
					left: -1rem !important;
					/* stylelint-disable-next-line declaration-no-important */
					min-width: initial !important;
				}

				.history__item-year {
					transform: translateX(-3rem);
				}
			}

			&:nth-child(odd) {
				.history__item-text {
					left: 2rem;
					top: -120%;
					display: flex;
					align-items: flex-end;
					min-width: 31.6rem;

					@media (min-width: 1200px) {
						min-width: 38rem;
					}
				}
			}

			&:nth-child(even) {
				.history__item {
					align-items: flex-end;
				}

				.history__item-text {
					left: -1rem;
					bottom: -120%;

					@media (min-width: 768px) {
						left: 2rem;
						min-width: 31.6rem;
					}

					@media (min-width: 1200px) {
						min-width: 38rem;
					}
				}

				.history__item-year {
					transform: translateX(-3rem);

					&::before {
						top: 2rem;
						transform: rotate(-180deg);
					}

					@media (min-width: 768px) {
						transform: translateX(0);
					}
				}
			}
		}

		@media (min-width: 768px) {
			padding: 0 max(0rem, (100% - 72.8rem) / 2);
		}

		@media (min-width: 1200px) {
			padding: 0 max(0rem, (100% - 153rem) / 2);
		}
	}

	&__item {
		position: relative;
		display: flex;
		align-items: flex-start;
		padding: 2rem 0 2rem 2rem;
		height: 14.6rem;
		background-color: var(--color-white);
	}

	&__item-text {
		position: absolute;
		height: 100%;
		font-size: 1.6rem;

		@media (min-width: 768px) {
			font-size: 2rem;
		}
	}

	&__item-year {
		position: relative;
		display: block;
		padding-left: 2rem;
		font-weight: 600;
		font-size: 5.2rem;
		line-height: 1;
		color: var(--color-red);

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 1.4rem;
			width: 1.2rem;
			height: 7.9rem;
			background-image: url("../img/history/stick.svg");
			background-size: 100% 100%;
		}
	}

	@media (min-width: 768px) {
		margin-bottom: 6rem;
		padding-top: 5rem;
		padding-bottom: 11.5rem;
	}

	@media (min-width: 1200px) {
		margin-bottom: 10rem;
		margin-left: auto;
		padding-right: 0;
		width: calc(100% - 13.1rem);
	}
}

.about {
	margin-bottom: 3.5rem;

	&__content {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;

		@media (min-width: 768px) {
			gap: 4rem;
		}

		@media (min-width: 1200px) {
			flex-direction: row;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		a {
			display: inline-block;
			text-decoration: underline;
			color: var(--color-red);
			text-decoration-skip-ink: none;
		}

		@media (min-width: 768px) {
			gap: 3rem;
		}
	}

	&__picture {
		@media (min-width: 1200px) {
			flex-shrink: 0;
		}
	}

	&__image {
		border-radius: 3.5rem;
		width: 100%;
		height: 29.3rem;

		@media (min-width: 768px) {
			height: 56.1rem;
		}

		@media (min-width: 1200px) {
			width: 52.4rem;
			height: 56.1rem;
			object-position: 22% 0;
		}
	}

	@media (min-width: 768px) {
		margin-bottom: 6rem;
	}

	@media (min-width: 1200px) {
		margin-bottom: 10rem;
	}
}

.technology {
	margin-bottom: 4rem;

	@media (min-width: 768px) {
		margin-bottom: 8rem;
	}

	@media (min-width: 1200px) {
		margin-bottom: 13rem;
	}
}

.list-technology {
	display: grid;
	margin-bottom: 3.5rem;
	gap: 3rem;

	li {
		&:not(:last-child) {
			&::after {
				@media (min-width: 1200px) {
					content: "";
					position: absolute;
					right: 3rem;
					top: 4rem;
					width: 7.8rem;
					height: 1rem;
					background-image: url("../img/icons/arrow-right-dotted.svg");
					background-size: 100% 100%;
				}
			}

			@media (min-width: 1200px) {
				position: relative;
			}
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		@media (min-width: 768px) {
			align-items: flex-start;
			text-align: left;
		}
	}

	&__item-img {
		margin-bottom: 2rem;
		width: 8.9rem;
		height: 8.9rem;

		@media (min-width: 768px) {
			margin-bottom: 3.5rem;
		}
	}

	&__item-number {
		margin-bottom: 1rem;
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 1;
		color: var(--color-red);
	}

	@media (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
		gap: 4rem 2.6rem;
	}

	@media (min-width: 1200px) {
		grid-template-columns: repeat(5, 1fr);
	}
}

.request {
	margin-bottom: 3rem;
	padding-top: 3.3rem;
	padding-bottom: 4.7rem;

	&__privacy {
		font-size: 1.6rem;
		text-align: center;

		a {
			text-decoration: underline;
			text-decoration-skip-ink: none;
		}

		@media (min-width: 1200px) {
			font-size: 2rem;
			text-align: left;
		}
	}

	@media (min-width: 768px) {
		margin-bottom: 8.5rem;
		padding-top: 5rem;
		padding-bottom: 9.8rem;
	}

	@media (min-width: 1200px) {
		margin-bottom: 13rem;
		padding-top: 5.4rem;
		padding-bottom: 14.8rem;
	}
}

.form-request {
	display: grid;
	margin-bottom: 1.6rem;
	gap: 2.4rem;

	&__button {
		img {
			width: 1.1rem;
			height: 1.4rem;
		}

		@media (min-width: 768px) {
			align-self: flex-end;
		}
	}

	@media (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
		margin-bottom: 2.6rem;
		gap: 3rem 2rem;
	}

	@media (min-width: 1200px) {
		grid-template-columns: repeat(3, 1fr);
		margin-bottom: 4rem;
		gap: 4.5rem 5.5rem;
	}
}

.map {
	position: relative;

	&__button {
		position: absolute;
		right: 2rem;
		top: 14.4rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		width: 8.9rem;
		height: 8.9rem;
		background-color: var(--color-red);

		img {
			width: 2.6rem;
			height: 2.4rem;
		}

		@media (min-width: 768px) {
			top: 25.4rem;
		}

		@media (min-width: 1200px) {
			right: 14.3rem;
			top: -11rem;
		}
	}

	&__iframe {
		display: block;
		width: 100%;
		height: 29.7rem;

		@media (min-width: 768px) {
			height: 37.5rem;
		}

		@media (min-width: 1200px) {
			border-radius: 0 8rem 0 0;
			height: 55.1rem;
		}
	}

	@media (min-width: 1200px) {
		margin-bottom: -10rem;
	}
}

.footer {
	flex: 0 0 auto;
	padding: 1.7rem 0 4rem;
	color: var(--color-white);
	background-color: var(--color-black);

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;

		@media (min-width: 1200px) {
			position: relative;
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
		}
	}

	&__logo {
		width: 20.6rem;
		height: 9.4rem;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.7rem;

		a {
			line-height: 1.4;
			text-align: center;
		}

		@media (min-width: 768px) {
			flex-direction: row;
			justify-content: space-between;
		}

		@media (min-width: 1200px) {
			gap: 6rem;
		}
	}

	&__phone {
		display: block;
		margin-bottom: 1.2rem;
		font-size: 2.4rem;
		line-height: 1.3;
		text-align: center;
	}

	&__button {
		width: 27rem;

		img {
			width: 1.4rem;
			height: 1.4rem;
		}
	}

	&__copyright {
		text-align: center;

		br {
			@media (min-width: 1200px) {
				display: none;
			}
		}

		@media (min-width: 1200px) {
			position: absolute;
			left: 50%;
			bottom: 1.8rem;
			transform: translateX(-50%);
		}
	}

	@media (min-width: 768px) {
		padding-bottom: 2.8rem;
	}

	@media (min-width: 1200px) {
		position: relative;
		margin-right: 13.1rem;
		border-radius: 0 8rem 0 0;
		padding: 5rem 0 5.6rem 13.1rem;
	}
}
